<phpunit colors="true" bootstrap="tests/phpunits/bootstrap.php">
    <testsuites>
        <testsuite name="All">
            <directory>/tests</directory>
            <file>/src</file>
            <exclude>/vendor</exclude>
            <directory suffix="Test.php" phpVersion="7.0" phpVersionOperator=">=">/path/to/files</directory>
            <file phpVersion="7.0" phpVersionOperator=">=">/path/to/MyTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
